<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/temas_base2.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+Pro&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/6c1da3acad.js" crossorigin="anonymous"></script>
	<title>Base</title>
</head>
<body>
	<div class="whole_container">
		<nav class="nav">
			<div class="nav_responsive-ul">
				<div class="nav_responsive-button-container">
				</div>
				<div class="nav_li-container">
					<div class="indice_text">
						<b>ÍNDICE</b>
					</div>
					<div id="indice">
						<div id="menu">
						</div>
					</div>
				</div>
			</div>
		</nav>

		<div class="main_container">

			<div id="center_container">

				<button id="left_btn" class="aside_btn"><i class="fas fa-chevron-left"></i></button>
				<button id="right_btn" class="aside_btn"><i class="fas fa-chevron-right"></i></button>

				<div class="body-containers" id="header">
					<h1><u>Bases de la medicina interna</u></h1>
					<h2><b>Tema 3: prueba</b></h2>
					<div>
						<p>Se interpreta como una <b>sensación subjetiva de malestar respiratorio</b> que consiste en sensaciones cualitativamente distintas y que varían en intensidad.</p>
						<ul>
							<li><b>Disnea aguda:</b> horas o días</li>
							<li><b>Disnea crónica:</b> más de 4-8 semanas</li>
						</ul>
						<p><b>Valor clínico:</b> es un predictor independiente de mortalidad en pacientes con insuficiencia cardíaca, enfermedad pulmonar obstructiva crónica y en ancianos.</p>
						<aside>Disnea <mark>NO</mark> es sinónimo de insuficiencia respiratoria. La disnea es <mark>sensación</mark> de falta de aire.</aside>
						<div class="aside">Insuficiencia respiratoria: PaO2<60mmHg</div>
						<br>
						<div>
							<strong><b>Síntomas:</b></strong>
							<ol>
								<li>Aumenta el esfuerzo respiratorio</li>
								<li>Conciencia de necesitar aumentar la respiración --frecuente en pacientes con asma y EPOC</li>
								<li>Falta de aire</li>
								<li>Dificultad para respirar</li>
								<li>Dolor al respirar</li>
								<li>Falta de respiración que se hace estresante y dolorosa</li>
								<li>Sensación de hambre/necesidad de aire</li>
								<li>Malestar</li>
								<li>Desajuste entre demanda y oferta ventilatoria.</li>
							</ol>
						</div>
						<p>Hay una serie de estímulos aferentes que llegan a los centros respiratorios, procedentes de <b>mecanorreceptores</b> --situados en la pared torácica-- y <b>quimiorreceptores</b> --situados en vasos sanguíneos.<br><br>
						Los centros respiratorios procesan esta info. Estos receptores se encuentran en la pared torácica, en golgi, intrapulmonares, LCR... y reciben info que da lugar a una percepción por parte del paciente de que hay un aumento del trabajo respiratorio. Este incremento, a su vez, se debe al estímulo de este tipo de receptores, que detectan falta de aire.</p>
						<h3>Este es el h3 que falta</h3>
						<h4>El control cortical otorga el control voluntario y el sistema protuberancial, el rítmico --<b>entre 12-16resp/min</b>--.</h4>
						<h5>La disnea es mala</b>--.</h5>
						<h4>El control cortical otorga el control voluntario y el sistema protuberancial, el rítmico --<b>entre 12-16resp/min</b>--.</h4>
						<h5>La disnea es mala</b>--.</h5>
						<h5>La disnea es mala</b>--.</h5>
						<h5>La disnea es mala</b>--.</h5>
					</div>
				</div>

				<div class="body-containers" id="body">
					<div>
						<h3>Cuantificación de la disnea: escalas</h3> 
						<p>Primero de todo, es muy importante hacer una <b>buena anamnesis</b>: ¿es progresivo?¿desde cuándo? pedir detalles...</p>
						<table class="table table-active">
	  						<thead>
	  						  <tr>
	  						    <th scope="col">Grado:</th>
	  						    <th scope="col" class="titulo_tabla">Nivel de esfuerzo físico que da lugar a la disnea</th>
	  						  </tr>
	  						</thead>
	  						<tbody>
	  							<tr>
	  						    	<th scope="row">0</th>
	  						    	<td>No disnea, o solo con ejercicio intenso</td>
	  						  	</tr>
	  						  	<tr>
	  						    	<th scope="row">1</th>
	  						    	<td>Caminar deprisa en llano o subida </td>	
	  						  	</tr>
	  						  	<tr>
	  						  	  	<th scope="row">2</th>
	  						  	  	<td>Incapacidad para mantener el paso en llano</td>
	  						  	</tr>
	  						  	<tr>
	  						  	  	<th scope="row">3</th>
	  						  	  	<td>Pararse a los 100m</td>
	  						  	</tr>
	  						  	<tr>
	  						  	  	<th scope="row">4</th>
	  						  	  	<td>Falta de aire con solo vestirse o lavarse</td>
	  						  	</tr>
	  						</tbody>
	  						<thead>
	  						  <tr>
	  						    <th scope="col">Grado:</th>
	  						    <th scope="col">desde el punto de vista cardíaco (basado en evidencia objetiva)</th>
	  						  </tr>
	  						</thead>
	  						<tbody>
	  							<tr>
	  						    	<th scope="row">Clase A</th>
	  						    	<td class="table-active">no evidencia objetiva</td>
	  						  	</tr>
	  						  	<tr>
	  						    	<th scope="row">Clase B</th>
	  						    	<td>evidencia objetiva de  mínima enfermedad</td>	
	  						  	</tr>
	  						  	<tr>
	  						  	  	<th scope="row">Clase C</th>
	  						  	  	<td>evidencia objetiva de enfermedad cardiovascular moderada grave</td>
	  						  	</tr>
	  						  	<tr>
	  						  	  	<th scope="row">Clase D</th>
	  						  	  	<td>eviencia objetiva de enfermedad grave</td>
	  						  	</tr>
	  						</tbody>
	  						
	  						<h4>Pruebas para cuantificar la disnea cardiovascular: <b>ECG, RX, ECO y ergometría</b></h4>
	  						<h5>Escala MRC: Medical Research Council</h5>

						</table>
						<br>
							<li><b>Escala modificada de Mahler:</b> escala de 0 a 10, siendo 0 ausencia y 10 intolerable</li>
							<li><b>Escala modificada de borg</b></li>
							<small>-Estas dos últimas, ambas son <b>analógicas</b>, y ambas están diseñadas para medir la disnea y el dolor</small>
					</div>
					<br>
					<div>
						<h3>Este es el h3 nuevo</h3>
						<h3>La disnea se puede dar por afectación de los centros respiratorios, y de origen cardíaco</h3>
						<br>
							<div class="conjunto">
							<h4>Disnea respiratoria</h4>
							<h5>Afectación del centro respiratorio</h5>
							<ol>
								<li>Hipoxia (altitudes altas)</li>
								<li>Hipercapnia (aumento de CO<sub>2</sub>)</li>
								<li>Embarazo (la <b>progesterona</b> genera sensación de aumento de trabajo)</li>
								<li>Acidosis (cetoacidosis diabética, intoxicación por ácidos) <aside><small>ej. de la chica con disnea causada por tomar aspirina</small></aside></li>
							</ol>
							<h5>Afectación de la bomba respiratoria</h5>
							<ol>
								<li>Alteraciones de la luz bronquial --disminuye el dm y aumenta el trabajo--: EPOC y asma</li>
								<li>Alteraciones de la caja torácica por pérdida de elasticidad: fibrosis; <abbr title="desviación de la columna que puede alterar la dinámica respiratoria">cifoescoliosis</abbr></li>
								<li>Distrés respiratorio: se da en el covid-19 --la superficie aérea se llena de neutrófilos, eosinófilsos, leucocitos, fibrina...--</li>
							</ol>
							<div class="aside">La <b>obesidad</b> puede dar muy frecuentemente disnea.</div>
							<div class="aside">En condiciones normales, existe un equilibrio entre la presión del pulmón --que tiende a colpasarse-- y la de la caja torácica --que tiende a distendirse--; por ello, alteraciones en la elasticidad de la caja torácica alteran este equilibrio y causan patología.</div>
							<h5>Afectación de la interacción de gases</h5>
							<ol>
								<li>Tromboembolismo pulmonar</li>
								<li>Neumonía --caso del Covid con distrés respiratorio, explicado arriba--.</abbr></li>
								<li>Enfermedad pulmonar intersticial</li>
								<li>Fibrosis pulmonar: se deposita fibrina en el intersticio pulmonar.</li>
							</ol>
							<div class="aside">En pacientes fumadores se produce un edema a nivel de la mucosa que provoca un aumento de la pared bronquial que, a su vez, da lugar a la obstrucción pulmonar. A esto hay que añadirle una disminución del espacio disponible para el intercambio debido a que se produce enfisema (destrucción de alveolos). </div>
						</div>
					</div>
					<br>
					<div class="conjunto">
						<h4>Disnea por causas cardíacas --ya sea por gasto elevado o bajo:</h4>
							<li><b>Elevado:</b> anemia; hipertiroidismo; aumento del metabolismo del shunt(mezcla) arterio-venosos)</li>
							<li><b>Bajo:</b> insuficiencia cardíaca; isquemia miocárdica; pericarditis constrictiva; ICC</li>
							<li><b>Normal:</b> Desacondicionamiento; obesidad; disfunción metabólica</li>
					</div>
					<br>
					<div>
						<h3>Disnea Aguda</h3>
							<p>Isquemia cardíaca (dolor característico y ECG =>hay que empezar a tomar decisiones + enz características), taponamiento cardíaco(ingurgitación yugular, edema, BNP) e insuficiencia.</p>
							<h4><b>Signos:</b></h4>
							<ol>
								<li>FC>120 lpm</li>
								<li>FR>30rpm</li>
								<ul>
									<b><li>ruidos asimétricos</b></li>
									<li>crepitantes difusos</li>
									<li>cianosis</li>
									<li>sudoración profusa</li>
								</ul>
								<li><b>Saturacióm<90%</b></li>
								<li>Hipotensión (TAS < 100mmHg)</li>
								<li><b>Uso de musculatura accesoria</b></li>
								<li>dificultad para hablar</li>
								<li>ruidos asimétricos</li>
								<li>crepitantes difusos</li>
								<li>cianosis</li>
								<li>sudoración profusa</li>
								<li>disminución del nivel de conciencia</li>
							</ol>
						<div class="aside">“Respiración estridulosa”, típica de esta patología</div>
					</div>
					<div class="flex_container">
						<div class="flex_items">
							<h3>Flex container</h3>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus voluptate quibusdam consequuntur blanditiis. Nesciunt veniam, laborum ratione quidem id laboriosam magni sapiente ad neque? Deleniti nisi ex exercitationem in quaerat.</p>
						</div>
						<div class="flex_items">
							<p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Necessitatibus soluta culpa provident atque aliquid, quas, corporis velit in pariatur nostrum non sequi earum, et iusto saepe laboriosam. Sunt, praesentium corporis.
							Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Suscipit nesciunt iusto sapiente, ipsa architecto reiciendis mollitia autem quia nostrum corporis, sint dolore deleniti excepturi animi blanditiis ullam cupiditate expedita corrupti.
							Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit excepturi et quis, ullam. Voluptatem, sed, illo quis dicta laudantium excepturi amet soluta quasi accusamus eaque placeat neque rem consequuntur voluptatibus.</p>
						</div>
					</div>
					<div>
						<h3>Disnea crónica</h3>
						<h4>Causas</h4>
						<p>Asma; EPOC; enfermedad pulmonar intersticial; disfunción/insuficiencia cardíaca; obesidad/desacondicionamiento (falta de acomodación del sistema respiratoria-circulatorio al esfuerzo físico)</p>
						<h4>Efectos</h4>
						<h5>Muy mal efecto</h5>
						<h5>Muy buen efecto</h5>
						<h5>Muy regular efecto</h5>
						<p>Asma; EPOC; enfermedad pulmonar intersticial; disfunción/insuficiencia cardíaca; obesidad/desacondicionamiento (falta de acomodación del sistema respiratoria-circulatorio al esfuerzo físico)</p>
						<h4>Resultados</h4>
						<p>Asma; EPOC; enfermedad pulmonar intersticial; disfunción/insuficiencia cardíaca; obesidad/desacondicionamiento (falta de acomodación del sistema respiratoria-circulatorio al esfuerzo físico)</p>
						<h5>Muy mal efecto</h5>
						<h5>Muy buen efecto</h5>
						<h5>Muy regular efecto</h5>
						<input name="Hola" value="hola">
					</div>
					<h3>Hola</h3>
					<h3>Adios</h3>
					<h4>Siiiiiii</h4>
					<h3>Adios</h3>
					<h4>Siiiiiii</h4>
					<h5>Hola mai love</h5>
					<h3>Disnea crónica</h3>
				</div>

				<div class="body-containers" id="footer">Adios</div>
					<input value="{{file}}" id="info_tema_actual" class="python_info"></input>
					<input value="{{numero_temas}}" id="numero_temas" class="python_info">
					<input value="{{asignatura}}" id="asignatura" class="python_info">
					{% for file_name in nombre_temas %}
					<input value="{{file_name}}" class="nombres_tema python_info">
					{% endfor %}
					{% for file_name in filename %}
					<input value="{{file_name}}" class="url_tema python_info">
					{% endfor %}

				</div>

			<div class="aside_containers">
				<div class="aside_contas" id="left_container">
					<div class="aside_text">
						Left container
					</div>
				</div>

				<div class="aside_contas" id="right_container">
					<div class="aside_text">
						Right container
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="{{ url_for('static', filename='js/temas_base.js') }}"></script>
</body>
</html>